body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form input {
  margin: 5px;
  padding: 10px;
  display: block;
}
form button {
  margin: 5px;
  padding: 10px;
  display: block;
}

form div {
  margin: 5px;
  color: red;
}

.Navigation {
  background-color: black;
  padding: 2vh 0;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.Navigation ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.Navigation ul li a {
  text-decoration: none;
  color: white;
}

.Sign-out-btn {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

.adminDashboard ul li {
  margin: 5px 0;
}

.adminDashboard ul li span {
  margin-right: 10px;
}

/* Checkbox style */

.Form-group {
  margin: 5px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Form-group input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.Form-group .Checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.Form-group:hover input ~ .Checkmark {
  background-color: #ccc;
}

.Form-group input:checked ~ .Checkmark {
  background-color: #2196f3;
}

.Checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.Form-group input:checked ~ .Checkmark:after {
  display: block;
}

.Form-group .Checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
